iot_urb_node-red_flows.json
[{"id":"7c9767f9.7659f8","type":"tab","label":"Riego_Sector","disabled":false,"info":""},{"id":"26599039.d59a6","type":"tab","label":"Alumbrado","disabled":false,"info":""},{"id":"7a49a96e.404698","type":"tab","label":"Riego_AT","disabled":false,"info":""},{"id":"ffe2b452.3d9788","type":"tab","label":"Control Piscina","disabled":false,"info":""},{"id":"8a3394e4.1fff28","type":"subflow","name":"Calculador","info":"","category":"","in":[{"x":20,"y":160,"wires":[{"id":"5030efb.4839b1"}]}],"out":[{"x":1380,"y":20,"wires":[{"id":"357f4f41.1dc46","port":0}]},{"x":1380,"y":60,"wires":[{"id":"70a7ff4f.b6675","port":0}]},{"x":1380,"y":100,"wires":[{"id":"e4bc011b.c67e9","port":0}]},{"x":1240,"y":160,"wires":[{"id":"70af61f4.92b98","port":0}]},{"x":1240,"y":300,"wires":[{"id":"e4f1c6b5.4c9598","port":0}]}],"env":[{"name":"Acumulado","type":"num","value":"60","ui":{"icon":"font-awesome/fa-bar-chart","type":"input","opts":{"types":["num"]}}}],"color":"#3FADB5","inputLabels":["datos sensor"],"outputLabels":["max","min","avg","array","contador"],"icon":"node-red/function.svg"},{"id":"b04d371e.37e0d8","type":"subflow","name":"SaveChart","info":"","category":"","in":[],"out":[],"env":[],"color":"#DDAA99"},{"id":"35ad4fe4.069a3","type":"subflow","name":"SaveChart","info":"","category":"","in":[{"x":80,"y":60,"wires":[{"id":"f4457c36.28ce1"}]}],"out":[{"x":820,"y":80,"wires":[{"id":"cf553dbd.50f9a","port":0}]}]},{"id":"99373ac6.e032a8","type":"subflow","name":"Calculador","info":"","category":"","in":[{"x":20,"y":160,"wires":[{"id":"e6482f2b.6995a"}]}],"out":[{"x":1880,"y":80,"wires":[{"id":"997a6f53.0769","port":0}]},{"x":1880,"y":120,"wires":[{"id":"634aedb.021ba14","port":0}]},{"x":1880,"y":160,"wires":[{"id":"2b55b3bf.2c20fc","port":0}]}],"env":[{"name":"Acumulado","type":"num","value":"60","ui":{"icon":"font-awesome/fa-bar-chart-o","type":"input","opts":{"types":["num"]}}}],"color":"#3FADB5","inputLabels":["datos sensor"],"outputLabels":["max","min","avg"],"icon":"node-red/function.svg"},{"id":"c39c686d.753758","type":"subflow","name":"Calculador","info":"","category":"","in":[{"x":20,"y":160,"wires":[{"id":"d1d31e8a.af8ec"}]}],"out":[{"x":1880,"y":80,"wires":[{"id":"3cc8f100.acefd","port":0}]},{"x":1880,"y":120,"wires":[{"id":"b2fe1ebc.199dd","port":0}]},{"x":1880,"y":160,"wires":[{"id":"1f212efd.0088c1","port":0}]}],"env":[{"name":"Acumulado","type":"num","value":"60","ui":{"icon":"font-awesome/fa-bar-chart-o","type":"input","opts":{"types":["num"]}}}],"color":"#3FADB5","inputLabels":["datos sensor"],"outputLabels":["max","min","avg"],"icon":"node-red/function.svg"},{"id":"d94b71e9.0cff2","type":"mqtt-broker","name":"","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e0fa84e9.c38ae8","type":"ui_tab","name":"Mediciones en tiempo real","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"7ef3e10e.a5661","type":"ui_tab","name":"Sensores","icon":"dashboard","disabled":false,"hidden":false},{"id":"c75b1775.d79458","type":"ui_tab","name":"Dispositivos","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"a37c947e.688cd8","type":"ui_group","name":"Info","tab":"14330893.c59687","order":1,"disp":true,"width":"14","collapse":false},{"id":"b70b61d7.0978b","type":"ui_group","name":"Temperatura","tab":"e0fa84e9.c38ae8","order":2,"disp":true,"width":14,"collapse":false},{"id":"1f02c8e7.74abf7","type":"ui_group","name":"Cloro","tab":"7ef3e10e.a5661","order":1,"disp":true,"width":6,"collapse":false},{"id":"3cb5a382.976fbc","type":"ui_group","name":"Temperatura","tab":"7ef3e10e.a5661","order":2,"disp":true,"width":"6","collapse":false},{"id":"71c9df1f.8b73e","type":"ui_group","name":"Depuradora","tab":"c75b1775.d79458","order":2,"disp":true,"width":"6","collapse":false},{"id":"bd78ca02.4d4f78","type":"ui_group","name":"Bomba de Cloro","tab":"c75b1775.d79458","order":1,"disp":true,"width":"6","collapse":false},{"id":"7a5480f1.5aae5","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"14330893.c59687","type":"ui_tab","name":"Sistema de Riego","icon":"dashboard","disabled":false,"hidden":false},{"id":"aed74c6b.dbe2c8","type":"mqtt-broker","name":"JJA-DEVELEPOERS","broker":"192.168.1.100","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8acda576.fa3f58","type":"ui_group","name":"Entrada","tab":"b5b93a49.ef2bb","order":1,"disp":true,"width":"10","collapse":false},{"id":"b5b93a49.ef2bb","type":"ui_tab","name":"Iluminación","icon":"dashboard","disabled":false,"hidden":false},{"id":"a31ac069.af91e","type":"mqtt-broker","name":"JJA-DEVELEPOERS","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"faa05604.43db48","type":"ui_group","name":"Mediciones en Tiempo real Cloro","tab":"d37bae16.8a0d4","order":1,"disp":true,"width":"14","collapse":false},{"id":"436a588d.0e0628","type":"ui_group","name":"Mediciones en Tiempo real Temperatura","tab":"d37bae16.8a0d4","order":2,"disp":true,"width":"14","collapse":false},{"id":"77cc439c.94577c","type":"ui_group","name":"Cloro","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"a5e17722.e90b78","type":"ui_group","name":"Sensores Temperatura","tab":"d37bae16.8a0d4","order":2,"disp":true,"width":"14","collapse":false},{"id":"84fdb4ae.1cd498","type":"ui_group","name":"Dispositivos","tab":"d37bae16.8a0d4","order":2,"disp":true,"width":"6","collapse":false},{"id":"5ca8b2fc.0c1afc","type":"ui_group","name":"Dispositivos","tab":"d37bae16.8a0d4","order":1,"disp":true,"width":"6","collapse":false},{"id":"d37bae16.8a0d4","type":"ui_tab","name":"Piscina","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2ddabff2.32cec","type":"mqtt-broker","name":"JJA-DEVELEPOERS","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"41d11f7b.46008","type":"ui_group","name":"Cloro","tab":"6032fa2.3330f04","order":1,"disp":true,"width":14,"collapse":false},{"id":"16646ef5.c98c61","type":"ui_group","name":"Temperatura","tab":"6032fa2.3330f04","order":2,"disp":true,"width":"14","collapse":false},{"id":"e204936b.818de","type":"ui_group","name":"Cloro","tab":"2d5fc745.ebd918","order":1,"disp":true,"width":12,"collapse":false},{"id":"4efc4175.ea918","type":"ui_group","name":"Temperatura","tab":"2d5fc745.ebd918","order":2,"disp":true,"width":14,"collapse":false},{"id":"5bba1fef.297d1","type":"ui_group","name":"Depuradora","tab":"e85f642d.0e8558","order":2,"disp":true,"width":"6","collapse":false},{"id":"8d25c131.3a047","type":"ui_group","name":"Bomba de Cloro","tab":"e85f642d.0e8558","order":1,"disp":true,"width":"6","collapse":false},{"id":"6032fa2.3330f04","type":"ui_tab","name":"Mediciones en tiempo real","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"2d5fc745.ebd918","type":"ui_tab","name":"Sensores","icon":"dashboard","disabled":false,"hidden":false},{"id":"e85f642d.0e8558","type":"ui_tab","name":"Dispositivos","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"7910d3e8.3d085c","type":"mqtt in","z":"7c9767f9.7659f8","name":"","topic":"Admin/Riego/Sector1/Info","qos":"0","datatype":"auto","broker":"d94b71e9.0cff2","x":210,"y":740,"wires":[["a899213d.84ff9"]],"info":"## info json received:\n info = {\n        \"sector\": sector,\n        \"date\": datetime.date,\n        \"time\": datetime.time,\n        \"opened\": status,\n        \"flow\": flow,\n        \"warning\": [\n            {\"code\": result,\n             \"message\": warning_msg[result]}\n        ],\n        \"min_flow\": min_flow_accepted,\n        \"seconds_read\": read_flow_seconds\n    }"},{"id":"a1c005a2.e3abd8","type":"function","z":"7a49a96e.404698","name":"S1_IsConnected","func":"Global.set(\"S1_IsConnected\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":60,"wires":[[]]},{"id":"d725d131.dd155","type":"inject","z":"7a49a96e.404698","name":"Main","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":150,"y":140,"wires":[["3cbac895.8193b8","89f696c5.49fea8","1d2f9965.251647","d39c46b8.37fa38","681109.710baef8"]]},{"id":"3cbac895.8193b8","type":"switch","z":"7a49a96e.404698","name":"","property":"S1_Flush","propertyType":"global","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":60,"wires":[["a1c005a2.e3abd8"]]},{"id":"89f696c5.49fea8","type":"switch","z":"7a49a96e.404698","name":"","property":"S1_VState","propertyType":"global","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":100,"wires":[["c1befeea.24357"]]},{"id":"c1befeea.24357","type":"function","z":"7a49a96e.404698","name":"S1_VState","func":"global.set(\"S1_VState\", \"false\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":100,"wires":[[]]},{"id":"1d2f9965.251647","type":"switch","z":"7a49a96e.404698","name":"","property":"S1_Watching","propertyType":"global","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":140,"wires":[["bc787c79.efd4"]]},{"id":"bc787c79.efd4","type":"function","z":"7a49a96e.404698","name":"S1_Watching","func":"global.set(\"S1_VState\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":140,"wires":[[]]},{"id":"d39c46b8.37fa38","type":"switch","z":"7a49a96e.404698","name":"","property":"S1_Flow","propertyType":"global","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":180,"wires":[["e157b143.e09dd"]]},{"id":"e157b143.e09dd","type":"function","z":"7a49a96e.404698","name":"S1_Flow","func":"global.set(\"S1_Flow\", 0);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":180,"wires":[[]]},{"id":"70af61f4.92b98","type":"join","z":"8a3394e4.1fff28","name":"Array","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":830,"y":160,"wires":[["357f4f41.1dc46","70a7ff4f.b6675","5065efb4.551eb"]]},{"id":"156d1baa.7b3274","type":"change","z":"8a3394e4.1fff28","name":"datos sensor","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":160,"wires":[["70af61f4.92b98"]]},{"id":"5030efb.4839b1","type":"change","z":"8a3394e4.1fff28","name":"","rules":[{"t":"set","p":"contador","pt":"flow","to":"$flowContext(\"contador\")+1\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":170,"y":160,"wires":[["c4997ed1.fd5f9","e4f1c6b5.4c9598"]]},{"id":"c4997ed1.fd5f9","type":"switch","z":"8a3394e4.1fff28","name":"","property":"contador","propertyType":"flow","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":160,"wires":[["156d1baa.7b3274"],["80cadc1a.83c2c"]]},{"id":"81cde607.667628","type":"inject","z":"8a3394e4.1fff28","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":240,"y":540,"wires":[["207b0c77.d58294"]]},{"id":"207b0c77.d58294","type":"change","z":"8a3394e4.1fff28","name":"","rules":[{"t":"set","p":"contador","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":540,"wires":[[]]},{"id":"80cadc1a.83c2c","type":"change","z":"8a3394e4.1fff28","name":"","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"contador","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":220,"wires":[["156d1baa.7b3274"]]},{"id":"e4f1c6b5.4c9598","type":"change","z":"8a3394e4.1fff28","name":"Contador","rules":[{"t":"set","p":"payload","pt":"msg","to":"contador","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"contador","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[[]]},{"id":"357f4f41.1dc46","type":"change","z":"8a3394e4.1fff28","name":"Maximo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"MAX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":20,"wires":[[]]},{"id":"5065efb4.551eb","type":"change","z":"8a3394e4.1fff28","name":"Media","rules":[{"t":"set","p":"payload","pt":"msg","to":"$average(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Broker/Piscina/Media","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":990,"y":100,"wires":[["e4bc011b.c67e9"]]},{"id":"70a7ff4f.b6675","type":"change","z":"8a3394e4.1fff28","name":"Minimo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$min(payload)\t\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"MIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":980,"y":60,"wires":[[]]},{"id":"e4bc011b.c67e9","type":"change","z":"8a3394e4.1fff28","name":"media dos decimales","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload, 2)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":100,"wires":[[]]},{"id":"84f356a3.f75928","type":"mqtt out","z":"7c9767f9.7659f8","name":"","topic":"Sometimes/Riego/Sector1/Info","qos":"","retain":"","broker":"d94b71e9.0cff2","x":1990,"y":980,"wires":[]},{"id":"83f0ef4a.92006","type":"inject","z":"7c9767f9.7659f8","name":"GetInfo","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"info","payloadType":"str","x":1750,"y":980,"wires":[["84f356a3.f75928"]]},{"id":"a899213d.84ff9","type":"json","z":"7c9767f9.7659f8","name":"","property":"payload","action":"","pretty":false,"x":410,"y":740,"wires":[["bf3fdc87.14a69","106f6798.5e1048","c5f8b57c.cd8918","9b5c0aa0.22f0d8","3b07a930.06ff66","96386b2c.694418","5add29d4.e4ab08","f1902283.ab8dc"]]},{"id":"236088c1.6d95d8","type":"function","z":"7a49a96e.404698","name":"S1_Open","func":"global.set(\"S1_Open\", false);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":220,"wires":[[]]},{"id":"681109.710baef8","type":"switch","z":"7a49a96e.404698","name":"","property":"S1_Open","propertyType":"global","rules":[{"t":"null"}],"checkall":"true","repair":false,"outputs":1,"x":310,"y":220,"wires":[["236088c1.6d95d8"]]},{"id":"295b5cfa.5d1f04","type":"comment","z":"7c9767f9.7659f8","name":"Valve controller","info":"","x":180,"y":60,"wires":[]},{"id":"75a125c4.7b592c","type":"bigtimer","z":"7c9767f9.7659f8","outtopic":"","outpayload1":"1","outpayload2":"0","name":"Summer seasson","comment":"","lat":0,"lon":0,"starttime":"60","endtime":"120","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Sector1_starts_irrigate","outtext2":"Sector1_stops_irrigate","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":false,"feb":false,"mar":false,"apr":false,"may":false,"jun":true,"jul":true,"aug":true,"sep":true,"oct":false,"nov":false,"dec":false,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":830,"y":340,"wires":[["60f83be3.fcef44","86455330.05c95"],[],[]]},{"id":"e4f7a570.36eca8","type":"bigtimer","z":"7c9767f9.7659f8","outtopic":"","outpayload1":"1","outpayload2":"0","name":"winter_seasson","comment":"","lat":0,"lon":0,"starttime":"60","endtime":"120","starttime2":"120","endtime2":"60","startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"Sector1_starts_irrigate","outtext2":"Sector1_stops_irrigate","timeout":1440,"sun":true,"mon":false,"tue":false,"wed":false,"thu":true,"fri":false,"sat":false,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":false,"jul":false,"aug":false,"sep":false,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":840,"y":400,"wires":[["60f83be3.fcef44","86455330.05c95"],[],[]]},{"id":"60f83be3.fcef44","type":"mqtt out","z":"7c9767f9.7659f8","name":"","topic":"Sometimes/Riego/Sector1/Valve","qos":"","retain":"","broker":"d94b71e9.0cff2","x":1130,"y":240,"wires":[]},{"id":"1ad8b93e.93f2a7","type":"inject","z":"7c9767f9.7659f8","name":"Test : on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"true","payloadType":"bool","x":780,"y":140,"wires":[["17fa2885.46a217"]]},{"id":"37400c9b.8a2694","type":"inject","z":"7c9767f9.7659f8","name":"Test : off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":780,"y":200,"wires":[["17fa2885.46a217"]]},{"id":"fb71adad.d6abe","type":"controltimer","z":"7c9767f9.7659f8","name":"","timerType":"loop","timerDurationUnit":"second","timerDurationType":"num","timerDuration":3,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":true,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":true,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1800,"y":440,"wires":[["e9728.bfd4b8d88"],[]]},{"id":"771a4b76.dffe74","type":"change","z":"7c9767f9.7659f8","name":"START & S1_Open","rules":[{"t":"set","p":"payload","pt":"msg","to":"START","tot":"str"},{"t":"set","p":"S1_Open","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1430,"y":340,"wires":[["fb71adad.d6abe","91100967.946ba8","1f812f29.dd7311"]]},{"id":"86455330.05c95","type":"switch","z":"7c9767f9.7659f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1130,"y":360,"wires":[["46f7a07a.18ff7"],["2174fac.df03506"]]},{"id":"dba43db.bf348c","type":"controltimer","z":"7c9767f9.7659f8","name":"","timerType":"loop","timerDurationUnit":"second","timerDurationType":"num","timerDuration":3,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":true,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":true,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1800,"y":260,"wires":[["1f812f29.dd7311"],[]]},{"id":"1f812f29.dd7311","type":"change","z":"7c9767f9.7659f8","name":"Info","rules":[{"t":"set","p":"payload","pt":"msg","to":"info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":320,"wires":[["9eff094e.72c958"]]},{"id":"91100967.946ba8","type":"change","z":"7c9767f9.7659f8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":200,"wires":[["dba43db.bf348c"]]},{"id":"46f7a07a.18ff7","type":"switch","z":"7c9767f9.7659f8","name":"","property":"S1_Open","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":320,"wires":[["771a4b76.dffe74"]]},{"id":"2174fac.df03506","type":"switch","z":"7c9767f9.7659f8","name":"","property":"S1_Open","propertyType":"global","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1270,"y":400,"wires":[["4ae2fa1c.b98c74"]]},{"id":"4ae2fa1c.b98c74","type":"change","z":"7c9767f9.7659f8","name":"START & !S1_Open","rules":[{"t":"set","p":"payload","pt":"msg","to":"START","tot":"str"},{"t":"set","p":"S1_Open","pt":"global","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":380,"wires":[["80948391.41901","dba43db.bf348c","e9728.bfd4b8d88"]]},{"id":"80948391.41901","type":"change","z":"7c9767f9.7659f8","name":"STOP","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":500,"wires":[["fb71adad.d6abe"]]},{"id":"17fa2885.46a217","type":"ui_switch","z":"7c9767f9.7659f8","name":"","label":"Estado de la Válvula","tooltip":"","group":"a37c947e.688cd8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":820,"y":480,"wires":[["86455330.05c95","60f83be3.fcef44"]]},{"id":"be7c9578.088ba8","type":"ui_numeric","z":"7c9767f9.7659f8","name":"","label":"Caudal mínimo aceptado","tooltip":"","group":"a37c947e.688cd8","order":2,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{msg.payload}}","min":"1","max":10,"step":1,"x":870,"y":920,"wires":[["35e055f.8c9c1aa","4d016d39.699204"]]},{"id":"35e055f.8c9c1aa","type":"ui_slider","z":"7c9767f9.7659f8","name":"","label":"Caudal mínimo aceptado","tooltip":"","group":"a37c947e.688cd8","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":"1","max":10,"step":1,"x":870,"y":980,"wires":[["be7c9578.088ba8"]]},{"id":"c58709e8.b093e8","type":"ui_gauge","z":"7c9767f9.7659f8","name":"","group":"a37c947e.688cd8","order":4,"width":0,"height":0,"gtype":"wave","title":"Caudal medio","label":"-ls","format":"{{msg.payload}}","min":0,"max":"30","colors":["#e01552","#9bf282","#00ddff"],"seg1":"10","seg2":"20","x":820,"y":540,"wires":[]},{"id":"a228bcbd.4de51","type":"ui_text","z":"7c9767f9.7659f8","group":"a37c947e.688cd8","order":5,"width":0,"height":0,"name":"","label":"Información del Sector :","format":"{{msg.payload}}","layout":"row-center","x":850,"y":660,"wires":[]},{"id":"f814b6c7.deffa8","type":"ui_toast","z":"7c9767f9.7659f8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1970,"y":920,"wires":[]},{"id":"9c011747.957fa8","type":"mqtt in","z":"7c9767f9.7659f8","name":"","topic":"AppControl/Sometimes/Riego/Sector1/Valve","qos":"0","datatype":"auto","broker":"d94b71e9.0cff2","x":430,"y":300,"wires":[["17fa2885.46a217"]]},{"id":"4d016d39.699204","type":"mqtt out","z":"7c9767f9.7659f8","name":"","topic":"Sometimes/Riego/Sector1/Flowmeter/Values","qos":"","retain":"","broker":"d94b71e9.0cff2","x":1230,"y":920,"wires":[]},{"id":"814ef7b4.a74818","type":"ui_text","z":"7c9767f9.7659f8","group":"a37c947e.688cd8","order":8,"width":0,"height":0,"name":"","label":"Hora de la última actualización:","format":"{{msg.payload}}","layout":"row-left","x":870,"y":860,"wires":[]},{"id":"2885d7df.aae3d8","type":"ui_text","z":"7c9767f9.7659f8","group":"a37c947e.688cd8","order":8,"width":0,"height":0,"name":"","label":"Fecha de la última actualización:","format":"{{msg.payload}}","layout":"row-left","x":870,"y":800,"wires":[]},{"id":"601b833c.1799ec","type":"mqtt out","z":"7c9767f9.7659f8","name":"","topic":"Admin/Riego/Sector1/Error","qos":"","retain":"","broker":"d94b71e9.0cff2","x":1160,"y":720,"wires":[]},{"id":"e9728.bfd4b8d88","type":"change","z":"7c9767f9.7659f8","name":"Info","rules":[{"t":"set","p":"payload","pt":"msg","to":"info","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1790,"y":380,"wires":[["9eff094e.72c958"]]},{"id":"2f539a49.f3c7a6","type":"inject","z":"7c9767f9.7659f8","name":"Default_Values","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"seconds_read\": 60, \"min_flow\": 2}","payloadType":"json","x":1720,"y":1040,"wires":[["86cd3184.1e6de"]]},{"id":"86cd3184.1e6de","type":"mqtt out","z":"7c9767f9.7659f8","name":"","topic":"Sometimes/Riego/Sector1/Flowmeter/Values","qos":"","retain":"","broker":"d94b71e9.0cff2","x":2030,"y":1040,"wires":[]},{"id":"9eff094e.72c958","type":"mqtt out","z":"7c9767f9.7659f8","name":"","topic":"Sometimes/Riego/Sector1/Info","qos":"","retain":"","broker":"d94b71e9.0cff2","x":2130,"y":340,"wires":[]},{"id":"39d1d3dd.7f871c","type":"comment","z":"7c9767f9.7659f8","name":"Irrigation State Info","info":"","x":190,"y":540,"wires":[]},{"id":"f1902283.ab8dc","type":"change","z":"7c9767f9.7659f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":1040,"wires":[["4d88e5bd.01dccc"]]},{"id":"db9cbd5c.fb547","type":"file","z":"35ad4fe4.069a3","name":"","filename":"","appendNewline":true,"createDir":true,"overwriteFile":"true","x":690,"y":40,"wires":[[]]},{"id":"f7f46486.9881a8","type":"file in","z":"35ad4fe4.069a3","name":"","filename":"","format":"utf8","sendError":true,"x":530,"y":80,"wires":[["cf553dbd.50f9a"]]},{"id":"ac2168dc.ee28f8","type":"json","z":"35ad4fe4.069a3","name":"","x":530,"y":40,"wires":[["db9cbd5c.fb547"]]},{"id":"cf553dbd.50f9a","type":"json","z":"35ad4fe4.069a3","name":"","x":690,"y":80,"wires":[[]]},{"id":"f4457c36.28ce1","type":"function","z":"35ad4fe4.069a3","name":"LoadSave","func":"var strSafe=msg.topic;\nif(strSafe)\n{\n    strSafe=strSafe.replace(/[^a-z0-9]/gi, '_').toLowerCase();\n    var loaded=context.get(strSafe)||0;\n    msg.filename =\"/home/pi/charts/\"+strSafe+\".dat\";\n    //node.warn(loaded);\n    if(0===loaded)\n    {\n        //load chart!! \n        msg.payload=\"load\";\n        context.set(strSafe,1);\n        \n        //node.warn(\"Loading \" +strSafe);\n    }\n    else\n    {\n        //node.warn(\"Writing \" +strSafe);\n    }\n    return msg;    \n}\nreturn null;\n\n","outputs":1,"noerr":0,"x":230,"y":60,"wires":[["99a5d40b.95d618"]]},{"id":"99a5d40b.95d618","type":"switch","z":"35ad4fe4.069a3","name":"Load data","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"load","vt":"str"},{"t":"eq","v":"load","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":60,"wires":[["ac2168dc.ee28f8"],["f7f46486.9881a8"]]},{"id":"4d88e5bd.01dccc","type":"ui_gauge","z":"7c9767f9.7659f8","name":"","group":"a37c947e.688cd8","order":4,"width":0,"height":0,"gtype":"wave","title":"Caudal Tiempo Real","label":"-ls","format":"{{msg.payload}}","min":0,"max":"30","colors":["#e01552","#9bf282","#00ddff"],"seg1":"10","seg2":"20","x":860,"y":1040,"wires":[]},{"id":"bf3fdc87.14a69","type":"change","z":"7c9767f9.7659f8","name":"Flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.average","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":540,"wires":[["c58709e8.b093e8","259fad3e.281a32"]]},{"id":"106f6798.5e1048","type":"change","z":"7c9767f9.7659f8","name":"ValveState","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.opened","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":480,"wires":[["7111058a.cad0ac"]]},{"id":"c5f8b57c.cd8918","type":"change","z":"7c9767f9.7659f8","name":"Sector","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.sector","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":660,"wires":[["a228bcbd.4de51"]]},{"id":"9b5c0aa0.22f0d8","type":"change","z":"7c9767f9.7659f8","name":"Warning","rules":[{"t":"set","p":"err_code","pt":"msg","to":"payload.warning[0].code","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.warning[0].message","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":720,"wires":[["ecee83bb.5d831"]]},{"id":"3b07a930.06ff66","type":"change","z":"7c9767f9.7659f8","name":"Date","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.date","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":800,"wires":[["2885d7df.aae3d8"]]},{"id":"96386b2c.694418","type":"change","z":"7c9767f9.7659f8","name":"Time","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.time","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":860,"wires":[["814ef7b4.a74818"]]},{"id":"5add29d4.e4ab08","type":"change","z":"7c9767f9.7659f8","name":"Min_flow","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.min_flow","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":940,"wires":[["be7c9578.088ba8"]]},{"id":"9788bfbe.7a0c3","type":"mqtt in","z":"26599039.d59a6","name":"PIR - Luz 1","topic":"Broker/Alumbrado/Sector1/Luz1/pir","qos":"0","datatype":"auto","broker":"d94b71e9.0cff2","x":80,"y":260,"wires":[["29081b1e.ed2944"]]},{"id":"544e44a6.89cf1c","type":"mqtt out","z":"26599039.d59a6","name":"Luz 1 (Foco)","topic":"Broker/Alumbrado/Sector1/Luz1/foco","qos":"2","retain":"","broker":"aed74c6b.dbe2c8","x":1650,"y":320,"wires":[]},{"id":"6b0a3f5f.243","type":"mqtt out","z":"26599039.d59a6","name":"Luz 1 (estado)","topic":"Sometimes/Alumbrado/Sector1/Luz1/foco","qos":"","retain":"","broker":"aed74c6b.dbe2c8","x":1920,"y":140,"wires":[]},{"id":"a6ec2148.efaf8","type":"inject","z":"26599039.d59a6","name":"DayLight_Submit","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"night","v":"1","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Sometimes/Central/Daylight","payload":"","payloadType":"date","x":120,"y":680,"wires":[["383bc1ed.0cfb6e","66cf0a0f.6a6aa4"]]},{"id":"383bc1ed.0cfb6e","type":"function","z":"26599039.d59a6","name":"Set Global night","func":"global.set(\"night\",msg.night);  \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":660,"wires":[["ea691a2.626d7e8"]]},{"id":"b6c1eb70.5bbda8","type":"inject","z":"26599039.d59a6","name":"DayLight_Submit_Day","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"night","v":"0","vt":"num"}],"repeat":"","crontab":"","once":false,"onceDelay":"1","topic":"Sometimes/Central/Daylight","payload":"","payloadType":"date","x":140,"y":640,"wires":[["383bc1ed.0cfb6e"]]},{"id":"45b6f1b5.dfd45","type":"change","z":"26599039.d59a6","name":"Enviar Luz encendida","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"Luz Encendida\",\"estado\":1,\"time\":msg.time}","tot":"str"},{"t":"set","p":"tmpTime","pt":"msg","to":"","tot":"date"},{"t":"change","p":"payload","pt":"msg","from":"msg.time","fromt":"str","to":"tmpTime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":180,"wires":[["6b0a3f5f.243","b38a649a.7c8c9","2f9135cf.399982"]]},{"id":"4c094530.827d24","type":"controltimer","z":"26599039.d59a6","name":"Cuenta Atras 30seg","timerType":"delay","timerDurationUnit":"second","timerDurationType":"num","timerDuration":30,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":true,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"timeController","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1180,"y":240,"wires":[["477e5620.43f888"],[]]},{"id":"1c59f7f0.3d1678","type":"function","z":"26599039.d59a6","name":"Definimos Movimiento","func":"if(msg.payload == \"1\")\n{\n    global.set(\"timeController\", \"STOP\");\n    msg.payload = 1;\n    \n}else\n{\n    global.set(\"timeController\", \"START\");\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":180,"wires":[["851e59ba.7a664","9b979816.4f6338"]]},{"id":"9b979816.4f6338","type":"switch","z":"26599039.d59a6","name":"Hay Movimiento","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":420,"y":180,"wires":[["c1036f7.3a3e79","eaaf955b.b48f88"],["83b50cf4.5fce58","eaaf955b.b48f88"]],"outputLabels":["SI",""]},{"id":"29081b1e.ed2944","type":"switch","z":"26599039.d59a6","name":"Es de Noche?","property":"night","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":320,"wires":[["1c59f7f0.3d1678"],["477e5620.43f888"]],"outputLabels":["NOCHE","DIA"]},{"id":"477e5620.43f888","type":"change","z":"26599039.d59a6","name":"Apagamos Foco","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":320,"wires":[["544e44a6.89cf1c","374d39a1.3004d6"]]},{"id":"49c75080.30716","type":"change","z":"26599039.d59a6","name":"Encendemos Foco","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1090,"y":140,"wires":[["544e44a6.89cf1c","374d39a1.3004d6"]]},{"id":"374d39a1.3004d6","type":"switch","z":"26599039.d59a6","name":"Estado Luz","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1490,"y":140,"wires":[["dbcaf442.2280d8"],["45b6f1b5.dfd45"]],"outputLabels":["Apagada","Encendida"]},{"id":"ec4e917.61c45f","type":"debug","z":"26599039.d59a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":60,"wires":[]},{"id":"66cf0a0f.6a6aa4","type":"debug","z":"26599039.d59a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":720,"wires":[]},{"id":"b38a649a.7c8c9","type":"debug","z":"26599039.d59a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1950,"y":220,"wires":[]},{"id":"75fec131.d45c9","type":"mqtt out","z":"26599039.d59a6","name":"DayLight Status","topic":"Broker/Central/Daylight","qos":"","retain":"","broker":"d94b71e9.0cff2","x":820,"y":660,"wires":[]},{"id":"ea691a2.626d7e8","type":"change","z":"26599039.d59a6","name":"","rules":[{"t":"set","p":"tmp","pt":"msg","to":"{\"time\":msg.payload,\"night\":global.night}","tot":"str"},{"t":"change","p":"tmp","pt":"msg","from":"msg.payload","fromt":"str","to":"payload","tot":"msg"},{"t":"change","p":"tmp","pt":"msg","from":"global.night","fromt":"str","to":"night","tot":"global"},{"t":"set","p":"payload","pt":"msg","to":"tmp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":660,"wires":[["75fec131.d45c9","f272794b.c00b58"]]},{"id":"f272794b.c00b58","type":"debug","z":"26599039.d59a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":720,"wires":[]},{"id":"fdcaa7f4.26315","type":"inject","z":"26599039.d59a6","name":"PirDetectaMovimiento","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":140,"y":400,"wires":[["a4bc6293.fe1cb"]]},{"id":"a4bc6293.fe1cb","type":"mqtt out","z":"26599039.d59a6","name":"Pir cambia estado","topic":"Broker/Alumbrado/Sector1/Luz1/pir/estado","qos":"","retain":"","broker":"d94b71e9.0cff2","x":430,"y":440,"wires":[]},{"id":"edf49b09.e74fb","type":"inject","z":"26599039.d59a6","name":"PirNoDetectaMovimiento","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":150,"y":480,"wires":[["a4bc6293.fe1cb"]]},{"id":"dbcaf442.2280d8","type":"change","z":"26599039.d59a6","name":"Enviar Luz apagada","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"Luz apagada\",\"estado\":0,\"time\":msg.time}","tot":"str"},{"t":"set","p":"tmpTime","pt":"msg","to":"","tot":"date"},{"t":"change","p":"payload","pt":"msg","from":"msg.time","fromt":"str","to":"tmpTime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1720,"y":100,"wires":[["6b0a3f5f.243","ec4e917.61c45f","2f9135cf.399982"]]},{"id":"be67cf01.2e55e","type":"mqtt in","z":"26599039.d59a6","name":"(Public) Estado Foco 1","topic":"Sometimes/Alumbrado/Sector1/Luz1/foco","qos":"2","datatype":"auto","broker":"d94b71e9.0cff2","x":840,"y":520,"wires":[["5d35336a.42c06c","8c2d0949.aa31a8","64c00c6.0e2e074"]]},{"id":"820777b0.b2a5e8","type":"ui_text","z":"26599039.d59a6","group":"8acda576.fa3f58","order":0,"width":0,"height":0,"name":"Hora del cambio de estado","label":"Tiempo","format":"{{msg.payload.day}}/{{msg.payload.month}}/{{msg.payload.year}} {{msg.payload.hours}}:{{msg.payload.mins}}:{{msg.payload.msecs}}","layout":"row-spread","x":1400,"y":440,"wires":[]},{"id":"5d35336a.42c06c","type":"function","z":"26599039.d59a6","name":"","func":"p = JSON.parse(msg.payload)\nmsg.payload = p.time\n\nvar dt = new Date(p.time);\nmsg.payload = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'msecs':\tdt.getSeconds()\n}\n\nif(msg.payload.day < 10) { msg.payload.day = \"0\" + msg.payload.day }\nif(msg.payload.month < 10) { msg.payload.month = \"0\" + msg.payload.month }\nif(msg.payload.hours < 10) { msg.payload.hours = \"0\" + msg.payload.hours }\nif(msg.payload.mins < 10) { msg.payload.mins = \"0\" + msg.payload.mins }\nif(msg.payload.msecs < 10) { msg.payload.msecs = \"0\" + msg.payload.msecs }\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":440,"wires":[["820777b0.b2a5e8"]]},{"id":"3256cfe7.ef8008","type":"ui_text","z":"26599039.d59a6","group":"8acda576.fa3f58","order":0,"width":0,"height":0,"name":"Estado de la farola","label":"Estado","format":"{{msg.payload}}","layout":"row-spread","x":1370,"y":520,"wires":[]},{"id":"8c2d0949.aa31a8","type":"function","z":"26599039.d59a6","name":"","func":"p = JSON.parse(msg.payload);\n msg.payload = \"Off\";\nif(p.estado == 1)\n{\n    msg.payload = \"On\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":520,"wires":[["3256cfe7.ef8008"]]},{"id":"2f27866f.b61202","type":"ui_text","z":"26599039.d59a6","group":"8acda576.fa3f58","order":0,"width":0,"height":0,"name":"Mensage de estado","label":"MSG","format":"{{msg.payload}}","layout":"row-spread","x":1380,"y":600,"wires":[]},{"id":"64c00c6.0e2e074","type":"function","z":"26599039.d59a6","name":"","func":"p = JSON.parse(msg.payload)\nmsg.payload = p.msg\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":600,"wires":[["2f27866f.b61202"]]},{"id":"77166fef.8c1608","type":"function","z":"26599039.d59a6","name":"Montamos JSON para guardar datos","func":"//p = JSON.parse(msg.payload)\np = msg.payload\ntiempo = p.time\n\nvar dt = new Date(p.time);\ntiempo = {\n\t'month':\tdt.getMonth() + 1,\n\t'day':\t\tdt.getDate(),\n\t'year':\t\tdt.getFullYear(),\n\t'hours':\tdt.getHours(),\n\t'mins':\t\tdt.getMinutes(),\n\t'secs':\t    dt.getSeconds()\n}\n\nestado = p.estado\nmensaje = p.msg\nif(tiempo.day < 10) { tiempo.day = \"0\" + tiempo.day }\nif(tiempo.month < 10) { tiempo.month = \"0\" + tiempo.month }\nif(tiempo.hours < 10) { tiempo.hours = \"0\" + tiempo.hours }\nif(tiempo.mins < 10) { tiempo.mins = \"0\" + tiempo.mins }\nif(tiempo.secs < 10) { tiempo.secs = \"0\" + tiempo.secs }\nmsg.payload = {\n    'time' : tiempo.day + '/' + tiempo.month + '/' + tiempo.year + ' ' + tiempo.hours + ':' + tiempo.mins + ':' + tiempo.secs,\n    'estado' : estado,\n    'msg' : mensaje \n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2910,"y":200,"wires":[["350cd2e0.21610e"]]},{"id":"350cd2e0.21610e","type":"file","z":"26599039.d59a6","name":"Guardamos datos en Luz1.txt","filename":"c:/sometimes/sector1/luz1.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"utf8","x":2890,"y":260,"wires":[["b0a158f4.96e09"]]},{"id":"b0a158f4.96e09","type":"debug","z":"26599039.d59a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":3130,"y":260,"wires":[]},{"id":"44010de6.5b446c","type":"ui_dropdown","z":"26599039.d59a6","name":"Alterar Estado","label":"Cambiar Señal","tooltip":"Cambiar estado de la farola","place":"Select option","group":"8acda576.fa3f58","order":3,"width":"0","height":"0","passthru":true,"multiple":false,"options":[{"label":"Elige uno","value":"-1","type":"str"},{"label":"Encender","value":1,"type":"num"},{"label":"Apagar","value":0,"type":"num"}],"payload":"","topic":"Broker/Alumbrado/Sector1/Luz1/pir/estado","x":2040,"y":520,"wires":[["b287045c.5a727","6e819bc.d08f4e4"]]},{"id":"b287045c.5a727","type":"ui_text","z":"26599039.d59a6","group":"8acda576.fa3f58","order":4,"width":0,"height":0,"name":"","label":"Resultado","format":"{{msg.payload}}","layout":"row-spread","x":2270,"y":520,"wires":[]},{"id":"660044c7.c34bdc","type":"http in","z":"26599039.d59a6","name":"","url":"http://192.168.1.101:1880/ui/","method":"get","upload":false,"swaggerDoc":"","x":1760,"y":520,"wires":[["44010de6.5b446c"]]},{"id":"6e819bc.d08f4e4","type":"mqtt out","z":"26599039.d59a6","name":"Pir cambia estado","topic":"Broker/Alumbrado/Sector1/Luz1/pir/estado","qos":"","retain":"","broker":"aed74c6b.dbe2c8","x":2290,"y":460,"wires":[]},{"id":"851e59ba.7a664","type":"function","z":"26599039.d59a6","name":"Definimos Estado Actual","func":"if(global.get(\"estado\") === undefined)\n{\n    global.set(\"estado\", msg.payload);\n    global.set(\"orden\", msg.payload);\n}\nreturn global;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":40,"wires":[["21c0b5f6.f6006a"]]},{"id":"12f3514c.dbe577","type":"switch","z":"26599039.d59a6","name":"Añadimos cambio","property":"addData","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":2770,"y":140,"wires":[["e466f1f3.36de7"]]},{"id":"54c1034d.fae3a4","type":"debug","z":"26599039.d59a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":40,"wires":[]},{"id":"b68beb6f.fbbe","type":"switch","z":"26599039.d59a6","name":"Comprobar Orden","property":"orden","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":80,"wires":[["5f076b33.b8ab84"],["5f076b33.b8ab84"]],"outputLabels":["Orden Encender","Orden Apagar"]},{"id":"c7d68859.72d0d8","type":"change","z":"26599039.d59a6","name":"Global To Msg timeController","rules":[{"t":"move","p":"timeController","pt":"global","to":"timeController","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":180,"wires":[["4c094530.827d24"]]},{"id":"c1036f7.3a3e79","type":"switch","z":"26599039.d59a6","name":"Estado 0","property":"estado","propertyType":"global","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":true,"outputs":2,"x":440,"y":120,"wires":[["b68beb6f.fbbe"],["5f076b33.b8ab84"]]},{"id":"5f076b33.b8ab84","type":"change","z":"26599039.d59a6","name":"Cambiar Orden","rules":[{"t":"set","p":"orden","pt":"global","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":80,"wires":[["c7d68859.72d0d8","49c75080.30716"]]},{"id":"83b50cf4.5fce58","type":"switch","z":"26599039.d59a6","name":"Estado 1","property":"estado","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":true,"outputs":2,"x":440,"y":240,"wires":[["2f88bb50.51a3b4"],["b892c7ec.330188"]]},{"id":"2f88bb50.51a3b4","type":"switch","z":"26599039.d59a6","name":"Comprobar Orden","property":"orden","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":true,"outputs":2,"x":470,"y":280,"wires":[["b892c7ec.330188"],["1e5e971f.9cc241"]],"outputLabels":["Orden Encender","Orden Apagar"]},{"id":"c395711.752ca1","type":"change","z":"26599039.d59a6","name":"Cambiar Orden","rules":[{"t":"set","p":"orden","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":840,"y":200,"wires":[["c7d68859.72d0d8"]]},{"id":"21c0b5f6.f6006a","type":"change","z":"26599039.d59a6","name":"","rules":[{"t":"set","p":"estado","pt":"msg","to":"estado","tot":"global"},{"t":"set","p":"orden","pt":"msg","to":"orden","tot":"global"},{"t":"set","p":"alert","pt":"msg","to":"Definimos Estado","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":40,"wires":[["54c1034d.fae3a4"]]},{"id":"1e5e971f.9cc241","type":"change","z":"26599039.d59a6","name":"Cambiar Orden","rules":[{"t":"set","p":"orden","pt":"global","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":300,"wires":[["477e5620.43f888"]]},{"id":"54f4280e.b8391","type":"change","z":"26599039.d59a6","name":"","rules":[{"t":"set","p":"estado","pt":"msg","to":"estado","tot":"global"},{"t":"set","p":"orden","pt":"msg","to":"orden","tot":"global"},{"t":"set","p":"alert","pt":"msg","to":"Check Salida","tot":"str"},{"t":"set","p":"addData","pt":"msg","to":"addData","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2760,"y":60,"wires":[["cea174fe.e479f"]]},{"id":"cea174fe.e479f","type":"debug","z":"26599039.d59a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2950,"y":60,"wires":[]},{"id":"1ae0b048.6a5fe8","type":"function","z":"26599039.d59a6","name":"Decidimos si guardamos el cambio","func":"if(global.get(\"estado\") === global.get(\"orden\"))\n{\n    global.set(\"addData\", 0);\n}else\n{\n    global.set(\"addData\", 1);\n}\nglobal.estado = global.orden;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2460,"y":140,"wires":[["12f3514c.dbe577","54f4280e.b8391"]]},{"id":"2f9135cf.399982","type":"json","z":"26599039.d59a6","name":"","property":"payload","action":"","pretty":false,"x":2230,"y":140,"wires":[["1ae0b048.6a5fe8"]]},{"id":"e466f1f3.36de7","type":"change","z":"26599039.d59a6","name":"","rules":[{"t":"set","p":"estado","pt":"global","to":"orden","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":2970,"y":140,"wires":[["77166fef.8c1608"]]},{"id":"b892c7ec.330188","type":"switch","z":"26599039.d59a6","name":"Check Orden","property":"orden","propertyType":"global","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":true,"outputs":2,"x":670,"y":240,"wires":[["c395711.752ca1"],["1e5e971f.9cc241"]],"outputLabels":["Orden Encender","Orden Apagar"]},{"id":"eaaf955b.b48f88","type":"debug","z":"26599039.d59a6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]},{"id":"a56051a7.9a42b","type":"join","z":"99373ac6.e032a8","name":"Almacena el array ","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":160,"wires":[["997a6f53.0769","634aedb.021ba14","f24adc03.6833d"]]},{"id":"d68fa9a2.13e748","type":"change","z":"99373ac6.e032a8","name":"string a number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":160,"wires":[["a56051a7.9a42b"]]},{"id":"e6482f2b.6995a","type":"change","z":"99373ac6.e032a8","name":"Suma flujo","rules":[{"t":"set","p":"contador","pt":"flow","to":"$flowContext(\"contador\")+1\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":160,"wires":[["7f31baa0.6d16d4","6a9df5df.fb8c2c"]],"info":"Variable de flujo contador,suma de uno en uno cada vez que reciba un dato y lo almacena en la variable de flujo"},{"id":"7f31baa0.6d16d4","type":"switch","z":"99373ac6.e032a8","name":"condición de contador","property":"contador","propertyType":"flow","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":160,"wires":[["d68fa9a2.13e748"],["5ab7f33d.668a2c"]],"info":"deja pasar 10 elementos por la salida 1 y por la salida 2 envía el completo"},{"id":"1b4e6105.5421bf","type":"inject","z":"99373ac6.e032a8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":70,"y":360,"wires":[["df995177.edd85"]]},{"id":"df995177.edd85","type":"change","z":"99373ac6.e032a8","name":"Establece contador a cero","rules":[{"t":"set","p":"contador","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[[]]},{"id":"5ab7f33d.668a2c","type":"change","z":"99373ac6.e032a8","name":"contador completo","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"contador","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["d68fa9a2.13e748"]],"info":"Envía mensaje a Join  para decir que está completo y a su vez envía mensaje de flujo a para que se ponga el contador a 0"},{"id":"6a9df5df.fb8c2c","type":"change","z":"99373ac6.e032a8","name":"Contador","rules":[{"t":"set","p":"payload","pt":"msg","to":"contador","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"contador","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[[]]},{"id":"997a6f53.0769","type":"change","z":"99373ac6.e032a8","name":"Maximo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"MAX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":80,"wires":[[]]},{"id":"f24adc03.6833d","type":"change","z":"99373ac6.e032a8","name":"Media","rules":[{"t":"set","p":"payload","pt":"msg","to":"$average(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Broker/Piscina/Media","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":160,"wires":[["2b55b3bf.2c20fc"]]},{"id":"634aedb.021ba14","type":"change","z":"99373ac6.e032a8","name":"Minimo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$min(payload)\t\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"MIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":120,"wires":[[]]},{"id":"2b55b3bf.2c20fc","type":"change","z":"99373ac6.e032a8","name":"media dos decimales","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload, 2)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":160,"wires":[[]]},{"id":"1361c131.7b729f","type":"join","z":"c39c686d.753758","name":"Almacena el array ","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1190,"y":160,"wires":[["3cc8f100.acefd","b2fe1ebc.199dd","d3d0d405.e26698"]]},{"id":"87f22525.998fd8","type":"change","z":"c39c686d.753758","name":"string a number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":160,"wires":[["1361c131.7b729f"]]},{"id":"d1d31e8a.af8ec","type":"change","z":"c39c686d.753758","name":"Suma flujo","rules":[{"t":"set","p":"contador","pt":"flow","to":"$flowContext(\"contador\")+1\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":160,"wires":[["6bb7e07b.c22a","edc357c9.232a38"]],"info":"Variable de flujo contador,suma de uno en uno cada vez que reciba un dato y lo almacena en la variable de flujo"},{"id":"6bb7e07b.c22a","type":"switch","z":"c39c686d.753758","name":"condición de contador","property":"contador","propertyType":"flow","rules":[{"t":"lt","v":"10","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":160,"wires":[["87f22525.998fd8"],["aeff5af3.cccfc8"]],"info":"deja pasar 10 elementos por la salida 1 y por la salida 2 envía el completo"},{"id":"70f6a995.b31de8","type":"inject","z":"c39c686d.753758","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":70,"y":360,"wires":[["a7b47f7a.42c1d"]]},{"id":"a7b47f7a.42c1d","type":"change","z":"c39c686d.753758","name":"Establece contador a cero","rules":[{"t":"set","p":"contador","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":360,"wires":[[]]},{"id":"aeff5af3.cccfc8","type":"change","z":"c39c686d.753758","name":"contador completo","rules":[{"t":"set","p":"complete","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"contador","pt":"flow","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":200,"wires":[["87f22525.998fd8"]],"info":"Envía mensaje a Join  para decir que está completo y a su vez envía mensaje de flujo a para que se ponga el contador a 0"},{"id":"edc357c9.232a38","type":"change","z":"c39c686d.753758","name":"Contador","rules":[{"t":"set","p":"payload","pt":"msg","to":"contador","tot":"flow"},{"t":"set","p":"topic","pt":"msg","to":"contador","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":300,"wires":[[]]},{"id":"3cc8f100.acefd","type":"change","z":"c39c686d.753758","name":"Maximo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$max(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"MAX","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":80,"wires":[[]]},{"id":"d3d0d405.e26698","type":"change","z":"c39c686d.753758","name":"Media","rules":[{"t":"set","p":"payload","pt":"msg","to":"$average(payload)\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Broker/Piscina/Media","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1490,"y":160,"wires":[["1f212efd.0088c1"]]},{"id":"b2fe1ebc.199dd","type":"change","z":"c39c686d.753758","name":"Minimo","rules":[{"t":"set","p":"payload","pt":"msg","to":"$min(payload)\t\t","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"MIN","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":120,"wires":[[]]},{"id":"1f212efd.0088c1","type":"change","z":"c39c686d.753758","name":"media dos decimales","rules":[{"t":"set","p":"payload","pt":"msg","to":"$round(payload, 2)\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1700,"y":160,"wires":[[]]},{"id":"14c6b7a4.782628","type":"subflow:8a3394e4.1fff28","z":"ffe2b452.3d9788","name":"","env":[{"name":"Acumulado","value":"5","type":"num"}],"x":310,"y":120,"wires":[["3a74359f.08695a"],["44f930e3.c17ad"],["f0e25c7.24458a","a3ee37eb.2e8918"],[],[]]},{"id":"bd3a4e83.8a8c3","type":"mqtt in","z":"ffe2b452.3d9788","name":"Temperatura","topic":"Broker/Piscina/Sensores/Temperatura","qos":"2","datatype":"auto","broker":"2ddabff2.32cec","x":110,"y":520,"wires":[["19ae0d61.8b9313","d663cf84.6da91"]]},{"id":"19ae0d61.8b9313","type":"subflow:8a3394e4.1fff28","z":"ffe2b452.3d9788","name":"","env":[{"name":"Acumulado","value":"5","type":"num"}],"x":430,"y":480,"wires":[["3e00b6ec.b10b8a"],["9c3632dc.04b1"],["cfe68f6a.6e819","f253ad3a.0b92f"],[],[]]},{"id":"bf32b837.8e2078","type":"mqtt out","z":"ffe2b452.3d9788","name":"Dosificador de cloro","topic":"Sometimes/Piscina/Dosificador/Cloro","qos":"2","retain":"","broker":"2ddabff2.32cec","x":2860,"y":80,"wires":[]},{"id":"70ea75ad.7c3cbc","type":"mqtt in","z":"ffe2b452.3d9788","name":"Cloro","topic":"Broker/Piscina/Sensores/Cloro","qos":"2","datatype":"auto","broker":"2ddabff2.32cec","x":90,"y":120,"wires":[["14c6b7a4.782628","2336ee4d.d3d262"]]},{"id":"d831042f.fb2b78","type":"mqtt in","z":"ffe2b452.3d9788","name":"Depuradora","topic":"Broker/Piscina/Depuradora","qos":"2","datatype":"auto","broker":"2ddabff2.32cec","x":110,"y":720,"wires":[["fd3f8eab.cc175"]]},{"id":"fd3f8eab.cc175","type":"json","z":"ffe2b452.3d9788","name":"String a Objeto","property":"payload","action":"obj","pretty":false,"x":300,"y":720,"wires":[["4d45465.cc682b8"]]},{"id":"c93aa3d8.9f3d2","type":"inject","z":"ffe2b452.3d9788","name":"Encendido Manual","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":490,"y":800,"wires":[["5fb08a19.608c34"]]},{"id":"8d30a372.ddf7c","type":"inject","z":"ffe2b452.3d9788","name":"Apagado Manual","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":500,"y":840,"wires":[["5fb08a19.608c34"]]},{"id":"5472fa21.9d3e54","type":"inject","z":"ffe2b452.3d9788","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"auto","payloadType":"str","x":530,"y":880,"wires":[["5fb08a19.608c34"]]},{"id":"15419f98.f2135","type":"comment","z":"ffe2b452.3d9788","name":"Depuradora ","info":"","x":110,"y":660,"wires":[]},{"id":"c3290d04.71673","type":"comment","z":"ffe2b452.3d9788","name":"Sensor Temperatura","info":"","x":130,"y":400,"wires":[]},{"id":"f595dc48.04b5d","type":"comment","z":"ffe2b452.3d9788","name":"Sensor Cloro","info":"","x":140,"y":60,"wires":[]},{"id":"4d45465.cc682b8","type":"change","z":"ffe2b452.3d9788","name":"Extraer Estado","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.estado","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":720,"wires":[["5fb08a19.608c34"]]},{"id":"670be12d.2d177","type":"mqtt out","z":"ffe2b452.3d9788","name":"Información temperatura media","topic":"Sometimes/Piscina/Temperatura","qos":"2","retain":"","broker":"2ddabff2.32cec","x":1180,"y":540,"wires":[]},{"id":"13b5d8e1.c102d7","type":"mqtt out","z":"ffe2b452.3d9788","name":"Cloro alto","topic":"Sometimes/Piscina/Cloro","qos":"2","retain":"","broker":"2ddabff2.32cec","x":1640,"y":300,"wires":[]},{"id":"3c901091.1f95f","type":"switch","z":"ffe2b452.3d9788","name":"calcular rango de valor","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"1","vt":"num","v2":"3","v2t":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1060,"y":200,"wires":[["f8230d8b.90f8a"],["ae70793c.64f278","9db6ac0.068ec58"]]},{"id":"d45ca9f7.1e8f88","type":"switch","z":"ffe2b452.3d9788","name":"Encendido/Apagado","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1360,"y":720,"wires":[["d883f060.c5f6b"],["d883f060.c5f6b"]]},{"id":"d883f060.c5f6b","type":"change","z":"ffe2b452.3d9788","name":"Estado","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"Depuradora\",\"estado\":(payload)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":720,"wires":[["b62e9976.2d5ed8"]]},{"id":"b62e9976.2d5ed8","type":"mqtt out","z":"ffe2b452.3d9788","name":"Depuradora(Publicador)","topic":"Sometimes/Piscina/Depuradora","qos":"2","retain":"","broker":"2ddabff2.32cec","x":1850,"y":720,"wires":[]},{"id":"f253ad3a.0b92f","type":"change","z":"ffe2b452.3d9788","name":"publicador temperatura ","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"Temperatura \",\"Media\":(payload)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":560,"wires":[["670be12d.2d177"]]},{"id":"a3ee37eb.2e8918","type":"change","z":"ffe2b452.3d9788","name":"payload a Jsonata","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"Cloro\",\"estado\":(payload)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":200,"wires":[["9397e7b2.903448"]]},{"id":"9397e7b2.903448","type":"change","z":"ffe2b452.3d9788","name":"extraer estado de Json","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.estado","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":200,"wires":[["3c901091.1f95f"]]},{"id":"ae70793c.64f278","type":"change","z":"ffe2b452.3d9788","name":"Evalua horario de encendido","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1400,"y":160,"wires":[["7400340a.0750bc"]]},{"id":"f8230d8b.90f8a","type":"change","z":"ffe2b452.3d9788","name":"Apagado","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":80,"wires":[["bf32b837.8e2078"]]},{"id":"9db6ac0.068ec58","type":"change","z":"ffe2b452.3d9788","name":"salida mensaje Json","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"Cloro\",\"estado\":(payload)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1380,"y":300,"wires":[["13b5d8e1.c102d7"]]},{"id":"309bf5c5.28348a","type":"inject","z":"ffe2b452.3d9788","name":"Encendido Manual","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1870,"y":220,"wires":[["ebac6050.69c62"]]},{"id":"12de24c9.f349ab","type":"inject","z":"ffe2b452.3d9788","name":"Apagado Manual","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1880,"y":260,"wires":[["ebac6050.69c62"]]},{"id":"cf0b75da.ce6068","type":"change","z":"ffe2b452.3d9788","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"msg\":\"Bomba de cloro\",\"estado\":(payload)}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":2600,"y":160,"wires":[["bf32b837.8e2078","c8ff6be0.f2b7f8"]]},{"id":"323a45e0.acb9da","type":"switch","z":"ffe2b452.3d9788","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":2290,"y":160,"wires":[["f64ff768.e023b8"],["f64ff768.e023b8"]]},{"id":"2336ee4d.d3d262","type":"ui_chart","z":"ffe2b452.3d9788","name":"","group":"41d11f7b.46008","order":8,"width":14,"height":5,"label":"Medicion en tiempo real","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":330,"y":260,"wires":[[]]},{"id":"d663cf84.6da91","type":"ui_chart","z":"ffe2b452.3d9788","name":"","group":"16646ef5.c98c61","order":8,"width":14,"height":5,"label":"Medicion en tiempo real","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":470,"y":600,"wires":[[]]},{"id":"3a74359f.08695a","type":"ui_gauge","z":"ffe2b452.3d9788","name":"","group":"e204936b.818de","order":1,"width":6,"height":5,"gtype":"gage","title":"Máximo","label":"ppm","format":"{{value}}","min":0,"max":10,"colors":["#b30c00","#04e600","#ca3838"],"seg1":"1","seg2":"3","x":640,"y":60,"wires":[]},{"id":"f0e25c7.24458a","type":"ui_gauge","z":"ffe2b452.3d9788","name":"","group":"e204936b.818de","order":3,"width":12,"height":7,"gtype":"gage","title":"Media","label":"ppm","format":"{{value}}","min":"0","max":"10","colors":["#b30000","#0fe600","#ca3838"],"seg1":"1","seg2":"3","x":630,"y":140,"wires":[]},{"id":"44f930e3.c17ad","type":"ui_gauge","z":"ffe2b452.3d9788","name":"","group":"e204936b.818de","order":2,"width":6,"height":5,"gtype":"gage","title":"Mínimo","label":"ppm","format":"{{value}}","min":0,"max":10,"colors":["#b30000","#26e600","#ca3838"],"seg1":"1","seg2":"3","x":640,"y":100,"wires":[]},{"id":"3e00b6ec.b10b8a","type":"ui_gauge","z":"ffe2b452.3d9788","name":"","group":"4efc4175.ea918","order":1,"width":6,"height":5,"gtype":"gage","title":"Máximo","label":"ºC","format":"{{value}}","min":"015","max":"30","colors":["#0044b3","#00e626","#ca3838"],"seg1":"20","seg2":"25","x":720,"y":420,"wires":[]},{"id":"cfe68f6a.6e819","type":"ui_gauge","z":"ffe2b452.3d9788","name":"","group":"4efc4175.ea918","order":8,"width":12,"height":7,"gtype":"gage","title":"Media","label":"ºC","format":"{{value}}","min":"15","max":"30","colors":["#002db3","#0fe600","#ca3838"],"seg1":"","seg2":"","x":710,"y":500,"wires":[]},{"id":"9c3632dc.04b1","type":"ui_gauge","z":"ffe2b452.3d9788","name":"","group":"4efc4175.ea918","order":2,"width":6,"height":5,"gtype":"gage","title":"Mínimo","label":"ºC","format":"{{value}}","min":"15","max":"30","colors":["#0024b3","#3de600","#ca3838"],"seg1":"20","seg2":"25","x":720,"y":460,"wires":[]},{"id":"5fb08a19.608c34","type":"ui_switch","z":"ffe2b452.3d9788","name":"","label":"Depuradora","tooltip":"","group":"5bba1fef.297d1","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"","offcolor":"blue","x":730,"y":720,"wires":[["c7fd010f.fb746"]]},{"id":"ebac6050.69c62","type":"ui_switch","z":"ffe2b452.3d9788","name":"","label":"Manual","tooltip":"","group":"8d25c131.3a047","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"blue","offvalue":"0","offvalueType":"num","officon":"","offcolor":"red","x":2040,"y":260,"wires":[["9b11c45e.7fd678"]],"info":"# 23e2e232"},{"id":"341cadb6.e63832","type":"e-mail","z":"ffe2b452.3d9788","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"juanma1979m@gmail.com","dname":"","x":1660,"y":360,"wires":[]},{"id":"c7fd010f.fb746","type":"rbe","z":"ffe2b452.3d9788","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1030,"y":720,"wires":[["d45ca9f7.1e8f88"]]},{"id":"9b11c45e.7fd678","type":"bigtimer","z":"ffe2b452.3d9788","outtopic":"","outpayload1":"","outpayload2":"","name":"Big Timer","comment":"","lat":0,"lon":0,"starttime":"1260","endtime":"1290","starttime2":0,"endtime2":0,"startoff":0,"endoff":0,"startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":2120,"y":160,"wires":[[],["323a45e0.acb9da"],[]]},{"id":"7400340a.0750bc","type":"controltimer","z":"ffe2b452.3d9788","name":"","timerType":"delay","timerDurationUnit":"second","timerDurationType":"num","timerDuration":45,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":false,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":true,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":1920,"y":160,"wires":[["9b11c45e.7fd678"],[]]},{"id":"1b61eff4.9e6a1","type":"timeswitch","z":"ffe2b452.3d9788","name":"","mytopic":"","lat":"39.2932","lon":"-2.7943","starttime":"1260","endtime":"1290","duskoff":"0","dawnoff":"0","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"x":1640,"y":200,"wires":[["7400340a.0750bc"]]},{"id":"751d49e7.de6748","type":"ui_template","z":"ffe2b452.3d9788","group":"16646ef5.c98c61","name":"Plantilla Termometro","order":2,"width":3,"height":3,"format":"<i class=\"fa fa-thermometer-empty fa-5x\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":240,"y":600,"wires":[["d663cf84.6da91"]]},{"id":"1d97101d.1aea1","type":"ui_template","z":"ffe2b452.3d9788","group":"41d11f7b.46008","name":"Plantilla Peligro","order":2,"width":3,"height":3,"format":"<i class=\"fa fa-exclamation-triangle fa-5x\" aria-hidden=\"true\"></i>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":120,"y":260,"wires":[["2336ee4d.d3d262"]]},{"id":"f64ff768.e023b8","type":"rbe","z":"ffe2b452.3d9788","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":2430,"y":160,"wires":[["cf0b75da.ce6068"]]},{"id":"c8ff6be0.f2b7f8","type":"debug","z":"ffe2b452.3d9788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2980,"y":180,"wires":[]},{"id":"ecee83bb.5d831","type":"switch","z":"7c9767f9.7659f8","name":"","property":"err_code","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":830,"y":720,"wires":[["601b833c.1799ec"]]},{"id":"7111058a.cad0ac","type":"switch","z":"7c9767f9.7659f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"S1_Open","vt":"global"}],"checkall":"true","repair":false,"outputs":1,"x":620,"y":480,"wires":[["17fa2885.46a217"]]},{"id":"259fad3e.281a32","type":"ui_chart","z":"7c9767f9.7659f8","name":"","group":"a37c947e.688cd8","order":10,"width":0,"height":0,"label":"Caudal medio histórico","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"1","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":840,"y":600,"wires":[["898e1976.3b3f68"]]},{"id":"898e1976.3b3f68","type":"subflow:35ad4fe4.069a3","z":"7c9767f9.7659f8","name":"","x":1050,"y":600,"wires":[["259fad3e.281a32"]]},{"id":"3a4a9fc3.82f0e","type":"mqtt in","z":"7c9767f9.7659f8","name":"","topic":"Admin/Riego/Sector1/Error","qos":"0","datatype":"auto","broker":"d94b71e9.0cff2","x":1690,"y":920,"wires":[["f814b6c7.deffa8"]],"info":"## info json received:\n info = {\n        \"sector\": sector,\n        \"date\": datetime.date,\n        \"time\": datetime.time,\n        \"opened\": status,\n        \"flow\": flow,\n        \"warning\": [\n            {\"code\": result,\n             \"message\": warning_msg[result]}\n        ],\n        \"min_flow\": min_flow_accepted,\n        \"seconds_read\": read_flow_seconds\n    }"},{"id":"78a3a675.a6b988","type":"mqtt in","z":"7c9767f9.7659f8","name":"","topic":"Sometimes/Riego/Sector1/Info","qos":"0","datatype":"auto","broker":"d94b71e9.0cff2","x":290,"y":1240,"wires":[["fab7e9a0.f1ccd8"]],"info":"## info json received:\n info = {\n        \"sector\": sector,\n        \"date\": datetime.date,\n        \"time\": datetime.time,\n        \"opened\": status,\n        \"flow\": flow,\n        \"warning\": [\n            {\"code\": result,\n             \"message\": warning_msg[result]}\n        ],\n        \"min_flow\": min_flow_accepted,\n        \"seconds_read\": read_flow_seconds\n    }"},{"id":"f5eed7e0.254b58","type":"mqtt in","z":"7c9767f9.7659f8","name":"","topic":"Admin/Riego/Sector1/Info","qos":"0","datatype":"auto","broker":"d94b71e9.0cff2","x":290,"y":1320,"wires":[["44ada66f.5c0498"]],"info":"## info json received:\n info = {\n        \"sector\": sector,\n        \"date\": datetime.date,\n        \"time\": datetime.time,\n        \"opened\": status,\n        \"flow\": flow,\n        \"warning\": [\n            {\"code\": result,\n             \"message\": warning_msg[result]}\n        ],\n        \"min_flow\": min_flow_accepted,\n        \"seconds_read\": read_flow_seconds\n    }"},{"id":"fab7e9a0.f1ccd8","type":"change","z":"7c9767f9.7659f8","name":"IsConnected + START","rules":[{"t":"set","p":"S1_IsConnected","pt":"global","to":"false","tot":"bool"},{"t":"set","p":"payload","pt":"msg","to":"START","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":1240,"wires":[["98781f0f.b804"]]},{"id":"44ada66f.5c0498","type":"change","z":"7c9767f9.7659f8","name":"waitingResponse","rules":[{"t":"set","p":"S1_IsConnected","pt":"global","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1320,"wires":[[]]},{"id":"98781f0f.b804","type":"controltimer","z":"7c9767f9.7659f8","name":"","timerType":"delay","timerDurationUnit":"second","timerDurationType":"num","timerDuration":5,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":true,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":true,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":820,"y":1240,"wires":[["a257b6e9.8e7338"],[]]},{"id":"a257b6e9.8e7338","type":"switch","z":"7c9767f9.7659f8","name":"","property":"S1_IsConnected","propertyType":"global","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":990,"y":1240,"wires":[["2df8b8c.419a748"]]},{"id":"2df8b8c.419a748","type":"change","z":"7c9767f9.7659f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Sometimes - Riego  - Secto1 - Sin conexión","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":1240,"wires":[["59ff4278.743afc"]]},{"id":"59ff4278.743afc","type":"mqtt out","z":"7c9767f9.7659f8","name":"","topic":"Admin/Riego/Sector1/Error","qos":"","retain":"","broker":"d94b71e9.0cff2","x":1400,"y":1240,"wires":[]}]